/* Empty. Add your own CSS if you like */
.app-side-menu-item{
	padding: 6px;
}

.app-side-menu-title{
	padding-left: 80px;
}

.app-side-menu-bg{
	background-image: url('../img/image_bg.png');
	background-size: cover;
}

input, a{
	font-family: sans-serif;
}

.text-center{
	text-align: center;
}

.app-btn{
	cursor: pointer;
}

.app-bg-dark{
	background-color: #5e5e5e;
/* 	opacity: 0.8; */
}

.app-bg-positive{
	background-color: #3598db;
}

.app-bg-light{
	background-color: lightgrey;
}

.app-color-positive{
	color: #3598db;
}


.app-border-stable{
	border-color: gray;
}

.button.button-positive.header-button-positive {
	background-color: #3598db;
}

.button.app-icon-positive{
  color: #3598db;
}

.app-hide{
	display:none !important;
}

.dateTitle > p{
	color: #fff !important;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.button-hrs {
	border-color: #909090 !important;
	background-color: #444 !important;
	color: #fff;
}

.hrsTitle{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.whiteBox{
	background-color: #fff;
}