<ion-view view-title="Violations">

    <ion-nav-buttons side="right">
        <button class="button button-icon  ion-compose " ng-click="showViolationModal()">

        <!--<button class="button button-icon ion-plus-round " ng-click="showViolationModal()">-->
        </button>
    </ion-nav-buttons>
    <ion-content>

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refreshViolationList()">
        </ion-refresher>

        <div class="list">

            <ion-list show-delete="violationData.showDelete">

                <ion-item ng-repeat="violation in violations"  class="item-icon-right" ng-click="getViolationById(violation._id)">
                    {{ violation.violation}}
                    <i class="icon ion-record hd-{{violation.status}}-circle"></i>
                    <!--<i class="icon ion-ios-circle-filled hd-{{violation.color}}-circle"></i>-->


                    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                    <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(violation)">
                    </ion-delete-button>
                </ion-item>
            </ion-list>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-energized">
        <div class="button-bar">
            <a class="button button-icon icon ion-android-remove-circle" ng-click="violationData.showDelete = !violationData.showDelete"></a>
        </div>
    </ion-footer-bar>

</ion-view>