<ion-modal-view class="iphonemodal iphone6plusmodal ip6nexus5x6p ip6ip5 ip5modal">
 
  <ion-header-bar>
    <div class="bar bar-header setupHeader">
      <h5 style="margin: auto;">Please Select Restaurant</h5>
      <div class="buttons">
        <i class="ion-android-close" ng-click="hideRestoSetup()"></i>
      </div>
    </div>
  </ion-header-bar>

  <div class="bar bar-subheader" style="text-align: center;">
      <div class="item item-input">
        <input type="text" placeholder="Search" ng-model="searchQuery">
          <span ng-click="search()" style="width:15%;text-align:center">
            <i class="icon ion-search" style="font-size: 1.6rem;"></i>
          </span>
      </div> 
  </div>

  <ion-content class="has-header has-subheader has-footer has-subheader-custom">
    <ion-list class="list">
      <ion-item class="item" ng-repeat="restaurant in restaurantLists | filter: searchQuery" ng-model="restaurantLists.account_name" ng-click="chooseRestaurant(restaurant.account_number, restaurant.account_name)">
       
        <div class="row" style="font-size: 14px;">
          <div class="col-20" style="padding: 5px;">{{restaurant.account_number}}
          </div>
          <div class="col" style="text-align: left;">{{restaurant.account_name}}
          </div>

        </div> 

      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="hasMoreData"
      on-infinite="loadMore()"
      distance="8%">
    </ion-infinite-scroll>
  </ion-content>


  <ion-footer-bar class="bar-footer-custom">  
  <div class="col-50">
    <button class="button button-stable" style="width: 100%; margin-top: 7px;" ng-click="refreshList()" ng-disabled="restaurantLists.length > 0">REFRESH</button>
  </div> 
  <div class="col-50">
    <button class="button button-stable" style="width: 100%; margin-top: 7px;" ng-click="hideRestoSetup()">DONE</button>
  </div> 
  
  </ion-footer-bar> 

</ion-modal-view>