<div class="list list-inset">
	       <div class="item item-input">
	           <input type="text" placeholder="Search" ng-model="searchQuery">
	           <span ng-click="search()" style="width:15%;text-align:center"><i class="icon ion-search" style="font-size: 1.6rem;"></i></span>
	       </div>
	</div>
<div class="row" ng-repeat="restaurant in restaurantLists" style="border-bottom: 1px solid #ddd; padding: 5px; text-align: center; font-size: 12px">
	<div class="col">
		{{restaurant.account_name}}
	</div>
</div>