<ion-scroll delegate-handle="tpListScroll" >

	<div ng-repeat="group in tpGroups" class="list tp-group-list" style="margin-bottom: 0px;">
	    <div class="item item-divider  item-icon-right item-divider-size text-center routine-item-divider app-bg-dark" ion-affix data-affix-within-parent-with-class="tp-group-list">
	      {{group.desc0}}
	      <i class="icon ion-ios-more app-btn" ng-click="goToTpMenu(group)"></i>
	    </div>
	    
	    <div class="item item-icon-right" 
	      style="white-space:normal;"
	      ng-repeat="item in group.items" 
	      ng-click="onTPQuestionClick(item)"
	  	  ng-class="{'ion-ios-checkmark-emptyStyle':item.answer == 'Y','ion-ios-close-emptyStyle':item.answer == 'N'}">

			  {{item.desc0}}
			  <i class="icon app-btn" 
	        ng-class="{'ion-ios-checkmark-empty':item.answer == 'Y','ion-ios-close-empty':item.answer == 'N'}" 
	        ng-click="onTPQuestionAnswerClick(item,$event)">
	      </i>

	    </div>
	</div> 
</ion-scroll>
