<ion-modal-view>
  <ion-header-bar>
  	<div class="buttons">
      <button class="button button-clear button-positive" ng-click="hideDialog()">Cancel</button>
    </div>
    <h1 class="title">Comments</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="saveComments()">Submit</button>
    </div>
  </ion-header-bar>
  <ion-content >
	<label class="item item-input item-stacked-label">
		  <textarea  ng-model = "comments"  id="routineComment"  style="height:200px; "></textarea>
	</label>    
  </ion-content>
</ion-modal-view>
