   <ion-slide-box   class = "temp" active-slide="tempActiveSlide" show-pager="true" on-slide-changed = "productSlideChanged(index)">
	  <ion-slide  ng-repeat="tempProduct in tempProductList" >
	    <div class="item text-center" style="font-size:20px;padding-top: 10px;padding-bottom: 10px;color:{{tempValueColor}};">
		     {{tempProduct.desc0}}
		</div>
		
		<div class="item item-body"  style="height:100%;text-align:left;  position: relative;">
	        <div style="min-height:250px;">   
	       		 <img class="temp-product-image" ng-src="{{tempProduct.imageSrc}}" ng-click="switchPicture();">
	        	 <div style="font-size: 75px;color: white;text-align:center;  text-shadow: 2px 2px 3px grey;  top: 50%;position: absolute;min-width: 80%;color:{{tempValueColor}};"
	           		ng-class="{'app-hide':!tempProduct.temperature}" >
	            	 {{tempProduct.temperature}}&deg;F
	             </div>
	        </div>
	        <!-- Thermo  -->
            <img src="img/routine/Therm.png" class ="temp-thermo-img">         
            <div>
              <div class ="temp-thermo-position temp-thermo-top-line-position" style="border-right: 2px dashed {{thermoTopColor}};"></div>
              <div class ="temp-thermo-position temp-thermo-middle-line-position" style="border-right:2px dashed {{thermoCenterColor}};"></div>
              <div class ="temp-thermo-position temp-thermo-bottom-line-position" style="height: 67px; border-right:2px dashed {{thermoBottomColor}};"></div>
              
              <span class ="temp-thermo-value" ng-class ="{'app-hide':!temperature}" >{{temperature}} &deg;F</span>
              <span class ="temp-thermo-value temp-thermo-disconnected-x" ng-class ="{'app-hide':isShowTempEditor != 'NC'}" >X</span> 
             
              <i class="icon ion-bluetooth temp-thermo-value temp-thermo-disconnected-ion-bluetooth"  ng-class ="{'app-hide':temperature}"></i> 
              
              <span class ="temp-thermo-max-value" ng-class ="{'app-hide':!itemMax}">{{itemMax}}&deg;F</span> 
              <span class ="temp-thermo-min-value" ng-class ="{'app-hide':!itemMin}">{{itemMin}}&deg;F</span>
	          
	          <div class="temp-thermo-circle" style="top: {{thermoPosition}};background-color: {{thermoCircleColor}};border:1px solid {{thermoCircleColor}};"></div> 
            </div>
<!--    		  <div style="font-size: 20px;color: blue;text-align:center;">
               ConnectedState:{{connectedState}}  MachineTemperature:{{temperature}} CurrentItemTemperature:{{tempProduct.temperature}}
	      </div> -->
        </div>
	  </ion-slide>
	</ion-slide-box>

  <div class="bar bar-footer bar-light temp-button-bar">
    <div class="row temp-button-row">
      <div class="col temp-button-col">
        <a class="icon ion-ios-chatbubble temp-button-icon" style="color:#E89C30;" ng-click="showDialog('comment')"></a>
      </div>
      <div class="col temp-button-col">
        <a class="icon ion-ios-camera temp-button-icon" style="color:#3498DB;" ng-click="takePicture()"></a>
      </div>

      <div class="col temp-button-col">
        <a class="icon ion-edit temp-button-icon" style="color:#474747;" ng-click='showManualInputDialog()'></a>
      </div>
    </div>
  </div>

