  <ion-view>
      <ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
      </ion-nav-buttons>

  <ion-content class="home-bg">
    <div class="row padding home-logo-margin" style="position:relative;">
      <img class="col col-50 home-logo-churchs" src="img/kudu_logo.svg"/>
      <p class="col col-50 home-blod-user-text home-welcome">Welcome!</p>
    </div>
    <div class="row">
        <p class="col col-67 col-offset-33 home-blod-user-text">{{user.userId}}<p>
    </div>
    <div class="row flex vbox padding">
        <div class="home-table" ng-if="cipData">
          <div class="home-group">Routines Performance</div>
          <div class="row home-blod-text-row">
            <div class="col text-center " ng-repeat="cip in cipData">
              {{cip.value}}
              <i ng-class="{'green-arrow':cip.isGood ==1,
                      'red-arrow':cip.isGood ==-1,
                      'ion-arrow-up-c':cip.increase ==1,
                      'ion-arrow-down-c':cip.increase ==-1}">
              </i>
              <img ng-if="cip.isGood ==0" src="img/icon-equal.svg" class="equal-icon"/>
            </div>
          </div>
          <div class="row home-bottom-label">
            <div class="col text-center" ng-repeat="cip in cipData">{{cip.desc0}}</div>
          </div>
        </div>

        <div class="home-table" ng-if="oerData">
          <div class="home-group">OPS</div>
          <div class="row home-blod-text-row">
            <div class="col text-center " ng-repeat="oer in oerData">
              {{oer.value}}
              <i ng-class="{'green-arrow':oer.isGood ==1,
                      'red-arrow':oer.isGood ==-1,
                      'ion-arrow-up-c':oer.increase ==1,
                      'ion-arrow-down-c':oer.increase ==-1}">
              </i>
              <img ng-if="oer.isGood ==0" src="img/icon-equal.svg" class="equal-icon"/>
            </div>
          </div>
          <div class="row home-bottom-label">
            <div class="col text-center" ng-repeat="oer in oerData">{{oer.desc0}}</div>
          </div>
        </div>

        <div class="home-table" ng-if="pteData">
          <div class="home-group">VOC</div>
          <div class="row home-blod-text-row">
            <div class="col text-center " ng-repeat="pte in pteData">
              {{pte.value}}
              <i ng-class="{'green-arrow':pte.isGood ==1,
                      'red-arrow':pte.isGood ==-1,
                      'ion-arrow-up-c':pte.increase ==1,
                      'ion-arrow-down-c':pte.increase ==-1}">
              </i>
              <img ng-if="pte.isGood ==0" src="img/icon-equal.svg" class="equal-icon"/>
            </div>
          </div>
          <div class="row home-bottom-label">
            <div class="col text-center" ng-repeat="pte in pteData">{{pte.desc0}}</div>
          </div>
        </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-dark temp-button-bar">
    <div class="row temp-button-row">
      <div class="col temp-button-col">
        <a class="tab-item" href="#/app/home">
          <i class="icon ion-ios-home"></i>
          Home
        </a>
      </div>
      <div class="col temp-button-col">
        <a class="tab-item" ng-click="showDialog('shift-notes')">
          <i class="icon ion-ios-paper"></i>
          Shift Notes
        </a>
      </div>
      <div class="col temp-button-col">
        <a class="tab-item" href="#/app/routine-home">
          <i class="icon ion-android-calendar"></i>
          Today
        </a>
      </div>
      <div class="col temp-button-col">
        <a class="tab-item" href="#/app/reports">
          <i class="icon ion-pie-graph"></i>
          Report
        </a>
      </div>

    </div>
  </div>
</ion-view>