<div class="item item-divider  item-icon-right item-divider-size text-center routine-item-divider app-bg-dark" >
       {{currentDcCatetory.desc0}}
	<i class="icon ion-ios-close-outline app-btn"  ng-click="goToDcItemList()"></i>
</div>  
<div class="vbox flex" >	 
    <div class="flex item fs-menu-button" style="background-color:#E89C30 ;" ng-click="showDialog('comment')">
        <a class="icon ion-ios-chatbubble" style="color: #ffffff;font-size:60px;"></a>
    </div>
    
    <div class="flex item fs-menu-button"  style="background-color:#3498DB;" ng-click="dcMenuPictureClick()">
        <a class="icon ion-ios-camera" style="color: #ffffff;font-size:60px;"  ></a>
    </div>
     <div class="flex item fs-menu-button" style="background-color:#5E5E5E;" ng-click="showDialog('help')">
        <a class="icon ion-help-circled" style="color: #ffffff;font-size:60px;"></a>
    </div>
</div>