.home-bg{
	background: #70797a;
	/*
	background-color:url(../img/photo_churchs.jpg);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    */
}
.home-bg col{
    color: #fff;
}

.home-bg p{
    color: #000;
    font-size: 1.1em;
    text-align: right;
    padding-right: .5em;
}

.home-bg div{
    color:#000;
}

.home-bg .row{

    /*height: 60px;*/
}

.home-alert-num{
	margin-top: -42px;
	margin-left: 12px;
	position: absolute;
	font-size: 10px;
	color:red;
}
.home-red{
	color: red;
}

.home-logo-margin{
    margin-top: 20px;
    height: 60px;
}
.home-logo-churchs{
	height: 100%;
	width: 100%;
}

.home-logo-oer{
	width: 100%;
	height: 100%;
	margin-left: 1.1rem;
	margin-top: 1.3rem;
}
.home-blod-welcome{
	margin-top: 1rem;
	/*color:white;*/
}
.home-blod-user-text{
	font-weight: bold;
	font-size: 1.2em;
    text-align: right;
}
.home-blod-text-row{
	font-size: 1.5rem;
	font-weight: bold;
}
.home-bottom-label{
	font-size: 0.7rem;
	font-weight: bold;
}
.home-table{
	font-size: 0.8rem;
	/*color:white;
	background: rgba(43, 162, 247,0.9);*/
	/*background: rgba(255,255,255,0.4);*/
    background: #fff;

    padding: 0.5rem;
	margin: 0.2rem 0.2rem 0.5rem 0.2rem;
	position: relative;
}

.home-content-loading{
	margin-top: -17px;
	margin-left: -14px;
	top: 50%;
	position: absolute;
	left: 50%;
}
.home-group{
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
}
.red-arrow{
	color:red;
	margin-left:0.5rem;
}
.green-arrow{
	color:#84D66A;
	margin-left:0.5rem;
}
.eqaul-icon{
	margin-left:0.5rem;
}
.home-blue-tab{
	color:#f6aa39;
}
.home-overdue{
	font-size: 0.8rem;
	/*color:white;*/
	margin-top: 0.5rem;
}
.home-overdue-title{
	font-size: 1.1rem;
	background: rgba(255,255,255,0.4);
}
.home-overdue-row-title{
	padding-top:0;
	padding-bottom:0;
	margin-top:0 !important;
	font-size: 0.7rem;
    /*background: rgba(151, 194, 241,0.8);*/
}
.home-overdue-padding{
	padding-left:1rem;
}
.home-overdue-list-item{
	font-size:0.9rem;
	padding-top:2rem;
	padding-bottom:2rem;
}

.home-btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/*SETUP*/
.setupContent{
	padding: .5em;
}
.setupHeaderTitle{
	color: #373a5d;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: 900;
    padding-top: 1em;
    /*padding-bottom: 1em;*/
    text-transform: uppercase;
    /*letter-spacing: em;*/
    line-height: 1.5em;
    text-align: center;
}
.setupSubTitle{
	color: #373a5d;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
    padding-bottom: 1em;
}
.setupDropBox{
	width: 100%;
    height: 50px;
    border: 1px #ddd solid;
    margin: auto;
    text-align: right;
    color: #ddd;
    font-size: 2em;
    padding: .5em;
}
.setupSave{
	background-color: #f6aa39;
	color: #fff;
	border: none;
	width: 100%;
	margin:auto;
	padding: .5em;
	margin-top: 3em;
}
.custom-popup .popup {
	min-width: 100%!important;
}
.setupLogo{
	margin: 1.8em 0 0 1.5em;
}
.home-welcome{
	font-size: 1.5em!important;
    position: absolute;
    bottom: 0;
    right: 0;
}