/* routine-home */
.routine-item-divider{
  color: white;
  font-weight: bold;
}

.routine-item-divider.item.activated{
  border-color: gray;
  background-color: #3498DB;
}

.routine-home-child{
  background: #fff;
  font-style: italic;
  position: relative;
}

/*temp && fs common*/
.routine-header-bar {
  color: gray;
  font-size: 14px;
  text-align: center;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 10px;
  border-bottom: 1px solid #ebebeb;
}

.routine-history{
  float: right;
  font-size: 2em!important;
  padding-right: .2em;
  color: white!important;
}

.routine-time-bar{
  text-align: left;
  padding: 8px;
  color: white!important;
}

.routine-current-time-bar{
  text-align: center;
  padding: 8px;
  color: white!important;
}
.routine-current-time-label{
  font-size: 20px;
}

/* temp */
.temp-current-category{
  text-align: center;
  font-size: x-large;
/*  background: #787777; */
  padding: 7px;
}

.temp-category-selection{
  height: 30px;
  font-size: 20px;
  text-align: center;
  background: none;
  border:none;
  /* opacity: 0.5; */
  color:white;
}

.queationBoxIn{
  border: 2px #373a5d solid;
  width: 25px;
  height: 25px;
  float: right;
  margin-right: -2.5em;
}

.questionBold{
  font-weight: bolder;
  color: #373a5d!important;
  font-style: normal;
  background-color: lightblue;
}

.fsBold, .tempBold, .fohBold, .bohBold, .tpBold, .dcBold, .bcBold{
  font-weight: bolder;
  color: #373a5d!important;
  font-style: normal;
  background-color: lightblue;
}



.questionBoldMark:before{
  font-weight: bolder;
  color: #373a5d!important;
  font-style: normal;
  margin-left: 9.8em;
}



 .ion-checkmarkStyle{
  color: green;
}
.ion-ios-information-outlineStyle{
    color: red;
}
.ion-closeStyle{
  color: red;
}
.ion-ios-close-outlineStyle{
  color: red;
} 
.item-divider-size{
    padding-top: 15px;
    padding-bottom: 15px;
}
 .ion-ios-close-emptyStyle{
  color: red;
}
.ion-ios-close-empty:before, .ion-ios-checkmark-empty:before{
  font-size: 1em;
  font-weight: bolder;
}

.ion-ios-checkmark-emptyStyle{
  color: green;
}
.checkFont {
  font-weight: bolder;
  color: #373a5d!important;
  background-color: lightblue;
  font-style: normal;
}

/* template animate  */

.temp-slide-animate-container {
  position:relative;
  background:white;
 /*  border:1px solid black; */
  height:500px;  
  overflow:hidden;
}

.temp-slide-animate {
  /* padding:10px; */
}

.temp-slide-animate.ng-enter, .temp-slide-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
 /*  padding:10px; */
}

.temp-slide-animate.ng-enter {
   top:-500px; 
}
.temp-slide-animate.ng-enter.ng-enter-active {
   top:0; 
}

.temp-slide-animate.ng-leave {
   top:500px;
}
.temp-slide-animate.ng-leave.ng-leave-active {
    top:500px;
}

#routine-epng-circular-progress {
  position: absolute;
  right: 0;
  top: -5px;
  z-index: 99999;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 2.4rem;
  background-color: #FFFFFF;
}

.routine-footbar{
  border-top: 1px solid #8c8c8c;
}

.temp-button-bar{
   height: 70px;
}

.temp-button-row{
  padding-top: 0px;
  height: 65px;
}

.temp-button-col{
  text-align:center;
  padding-top: 5px;
}

.temp-button-icon{
  font-size: 50px;
}

/* .bar.bar-footer.bar-light.temp-button-bar{
    background-color: gray;
    border-color: #3f6a78;
    color: #bde9f9;
} */

.temp-button-icon:active{
  opacity: 0.8
}

.temp .slider-pager {
  position: absolute;
  bottom: 5px;
  z-index: 1;
  width: 100%;
  height: 15px;
  text-align: center;
}

.temp-product-image{
  width: 80%;
}

.fs-menu-button{
  padding:30px;
  text-align:center;
  opacity: 0.8;
  -webkit-box-align: center;
    -webkit-box-pack: center;
     display: -webkit-box;
}

/* Thermo */

.temp-thermo-img{
  float:left;
  width:50px;
  height:250px;
  position: absolute;
  z-index:-99;
  top: 13px; 
  right: 1px; 
}

.temp-thermo-position{
  position: absolute;          
  right: 25px;
  height:60px;
  width:1px;
}

.temp-thermo-circle{
  position: absolute;        
  width: 26px;
  height: 26px;
  border-radius: 15px;
  border: 1px solid;
  right: 13px;
  opacity: 0.7
}

.temp-thermo-value{
  position: absolute;
  font-size: 12px;
  top: 232px;
  right: 8px;
  color: blue;
}

.temp-thermo-max-value{
  position: absolute;
  font-size: 12px;
  top: 75px;
  right: 43px;
  color: black;
  font-weight: bold;
}

.temp-thermo-min-value{
  position: absolute;
  font-size: 12px;
  top: 142px;
  right: 43px;
  color: black;
  font-weight: bold;
}

.temp-thermo-top-line-position{
  top: 22px;
}

.temp-thermo-middle-line-position{
  top:88px
}

.temp-thermo-bottom-line-position{
  top:156px;
}

.temp-thermo-disconnected-x{
  color:red;
  right:18px;
  font-size: 28px;  
  z-index: 5 ;
  opacity: 0.5; 
}

.temp-thermo-disconnected-ion-bluetooth{
  color:blue;
  right:19px;
  font-size: 25px;
  top: 229px;
}

/* temp-selection-popover */
.temp-selection-popover-item{
  height: 40px;
  padding: 8px 5px;
  text-align: center;
}

.temp-selection-popover-label{
    height: 20px;
    font-size: 20px;
    text-align: center;
  background: none;
  border:none;
  color:white;
}


/*for category bluetooth state*/
.temp-manual-m{
  position: absolute;
  top: 85px;
  z-index: 99;
  font-size: 30px;
  color: white;
  right: 38px;
}

.temp-bluetooth-disconnected-x{
  position: absolute;
  top: 88px;
  z-index: 99;
  font-size: 30px;
  color: red;
  right: 12px;
}

.temp-bluetooth-connected{
  color: #88ff43;
}

.temp-bluetooth-disconnected{
  color: white;
}

.item{
  white-space: normal!important;
}

.currentDateHeader {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.scIonHeader{
  height: 5.5em;
}
.statusCheckContent{
  margin-top:4em;
}
.scHeaderMain{
  height: 4em;
  text-align: center;
  background-color: #373a5d;
  color: #fff;
  font-size: 1.5em;
  padding-top: .7em;
}
.scHeader{
  height: 2.5em;
  text-align: center;
  background-color: #373a5d;
  color: #fff;
  font-size: 1.5em;
  padding-top: .7em;
}

.hideCloseModal{
  font-size: 1.5em;
  right: .5em;
  position: absolute;
  top: .5em;
}
.scIncomplete{
  float: right;
  color: green;
  font-size: 1.5em;
  margin-right: 1.5em;
}
.scSubTitle{
  font-size: 1em;
  padding: 1em;
  text-align: right;
}

.scIncoTitle{
  margin-left: 1em;
  float: right;
  color: green;
  font-size: 1.8em;
}

.scLabel{
  padding: 1em;
  font-size: 1em;
}

.modal.slide-in-up.ng-enter.active.ng-enter-active{
/*  margin-left: 10px!important;
  margin-top: 100px!important;*/
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .ip5modal
    {
      width: 94%!important;
      top: 95px!important;
      left: 3%!important;
      min-height: 75%!important;
    }

    .active .modal-backdrop-bg
    {
      opacity: 0.5!important;
    }
 
    .modal-backdrop-bg 
    {
      -webkit-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
      background-color: #000;
      opacity: 0;
    }
    .modal-backdrop-bg 
    {
      pointer-events: none;
    }
}


/* ----------- iPhone 6 ----------- */                      /* Portrait on Nexus 5X, Nexus 6P and iPhone6 is same */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .ip6nexus5x6p
    {
      width: 94%!important;
      top: 95px!important;
      left: 3%!important;
      min-height: 75%!important;
    }

    .active .modal-backdrop-bg
    {
      opacity: 0.5!important;
    }
 
    .modal-backdrop-bg 
    {
      -webkit-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
      background-color: #000;
      opacity: 0;
    }
    .modal-backdrop-bg 
    {
      pointer-events: none;
    }
  }

/* Landscape */                                             /* Landscape on iPhone5 and iPhone6 is same */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .ip6ip5
    {
      width: 80%!important;
      top: 80px!important;
      left: 10%!important;
      min-height: 70%!important;        
    }
    .active .modal-backdrop-bg
    {
      opacity: 0.5!important;
    }
 
    .modal-backdrop-bg 
    {
      -webkit-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
      background-color: #000;
      opacity: 0;
    }
    .modal-backdrop-bg 
    {
      pointer-events: none;
    }
  }

/* ----------- iPhone 6+ ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .iphone6plusmodal
    {
      width: 94%!important;
      top: 100px!important;
      left: 3%!important;
      min-height: 75%!important;
    }

    .active .modal-backdrop-bg
    {
      opacity: 0.5!important;
    }
 
    .modal-backdrop-bg 
    {
      -webkit-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
      background-color: #000;
      opacity: 0;
    }
    .modal-backdrop-bg 
    {
      pointer-events: none;
    }
  }




/* ----------- iPad ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
  .ipadmodal{
  /*    min-width: 300%!important;
      min-height: 840px!important;
      left: -100%!important;
      top: -760%!important;*/
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
  .ipadmodal{
  /*    min-width: 300%!important;
      min-height: 595px!important;
      left: -100%!important;
      top: -515%!important;*/
  }
}


.timeItemComplete{
  color: green;
  font-size: 2em;
  text-align: right;
  padding: 0 .3em 0 0;
}

.timeItemInComplete{
  color: red;
}

.fsComplete, .tpComplete, .fohComplete, .bohComplete, .tcComplete, .tempComplete, .bcComplete{
  color: green;
  font-size: 2em!important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .6em;
}


.fsIncomplete, .tpIncomplete, .fohIncomplete, .bohIncomplete, .tcIncomplete{
  color: red;
  position: relative!important;
  float: right;
  margin-right: -1.2em;
  font-size: 1.5em!important;
}

.tempIncomplete, .bcIncomplete{
  color: red;
  font-size: 1.5em!important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .8em;
}
.childProgIncomplete{
  color: red;
  font-size: 1.3em;
  margin-right: .3em;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
    

.setupHeader{
  background-color: #f2f2f2;
}

.has-subheader-custom{
  top: 100px!important;
}

.bar-footer-custom{
  min-height: 55px!important;
  background-color: #f2f2f2;
}

.setupResto{
  width: 100%;
  height: 50px;
  border: 1px #ddd solid;
  margin: auto;
  color: #373a5d;
  font-size: 15px;
  padding: .5em;
}

.spanRestoName{
  padding-left: 10px;
}

.versionLabel{
  color: #373a5d;
  font-size: 20px;
  text-align: center;
  margin-top: -5px!important;
  padding-bottom: 20%;
}
.statusCheckRow{
  min-height: 3em;
  margin: auto;
  padding-top: .5em;
  font-size: 1em;
}
.statusCheckMark{
  font-size: 2em;
  color: green;
}
.icon-home{
  font-size: 2em!important;
  left: .3em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.check-home{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  right: .6em;
}